.BoardTile {
    position: absolute;
    width: 12.5%; height: 12.5%;
}
.BoardTile:hover {
    opacity: 80%;
}
.BoardTile.legal {
    box-shadow: inset 0 0 0 4px rgb(80, 180, 90);
}

.BoardLabel {
    position: absolute;
    transition: bottom 1s, left 1s;
}
.BoardLabel label {
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
}