.Piece {
    display: inline-block;
    font-size: 40px; text-align: center;
    margin: 20px;
    cursor: pointer;
    transition: left 1s, bottom 1s;
    z-index: 2;
}
.Piece:hover {
    opacity: 50%;
}