.SidePanel {
    text-align: center;
}

.SidePanelPlayers {
    font-size: 0.85rem;
    margin: 0 8px 12px 8px;
    line-height: 1.5;
}

.Timer {

}

.SidePanelButton {
    display: inline-block;
    border: solid 4px; border-radius: 100%;
    width: 1em; height: 1em;
    padding: 4px; margin: 4px;
    cursor: pointer;
}
.SidePanelButton:hover {
    opacity: 50%;
}
.SidePanelButton.active {
    background-color: rgb(230, 200, 80);
}
.SidePanelButton.disabled {
    opacity: 50%;
    cursor: default;
}
.SidePanelButton.disabled:hover {
    opacity: 50%;
}

.SidePanelHintLabel {
    font-size: 0.8rem;
    margin: 0 0 8px 0;
}